<div class="container-fluid">
  <div class="row" id="green-bg">
    <div class="col-md-3 text-center">
      <br>
       <p><%=(image_tag ('/assets/artcaring-signup-sm.png'))%></p>
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <h2 class="copy-heading text-center">Sign Up Here!</h2>

      <h4 class="text-center">Artists: by signing up with ArtCaring, you get to help someone in need, through your art!</h4>

    </div>
  </div>

  <div class="row">
      
        <%= render partial: 'form', locals: { user: @user } %>
      
  </div>
  
</div>


<!-- <%= render "devise/shared/links" %> -->
