  <div class="col-md-12 col-md-offset-1 search-row">
    <h4 class="copy-heading">Search Results:</h4>
    <% @results.each do |result| %>

      <%= render result %>
      <hr style="hr-thin">
    <% end %>
  <%= will_paginate @results %>

  </div>

    
<!-- render looks for a partial on the class its rendering -->

<!-- def render(x)
  x_class = x.class.to_s.underscorize
  render partial: "#{x_class.pluralize}/#{x_class}", locals: {x_class => x}
end -->