<div class="container-fluid">
  <div class="row" id="green-bg">
    <div class="col-md-3 text-center">
      <br>
      <p><%=(image_tag ('/assets/artcaring-list-artworks-sm.png'))%></p>
    </div>
    <div class="col-md-6">
      <br>
      <br>
      <h2 class="copy-heading text-center">Edit this Artwork.</h2>

      <h4 class="text-center">Make necessary changes/updates here.</h4>

    </div>
  </div>

  <div class="row">
    <h4 class="text-center">*Required fields</h4>
    <br>
  </div>

<div class="row">
      <div class="col-md-10 col-md-offset-1">
        <%= render partial: 'form', locals: { patient_campaign: @patient_campaign, artworks: @artworks } %>
      </div>
  </div>



  </div>


</div>
