<div class="container-fluid">
  <div class="row">
    <h3 class="copy-heading text-center orange">
      <%= artworks_index_heading %>
    </h3>
  </div>
  <%= render partial: 'artwork_tiles', object: @artworks, as: :artworks %>
  <%= will_paginate @artworks %>
</div>
