Sculpture index
<div class="container-fluid">

    <% @artworks.each do |artwork| %>
      <div>
        <%= artwork.title %><br>
        <%= image_tag(artwork.art_image_1.small.url) %>
      </div>
      </br>
    <%end %>
</div>