<div class="container-fluid">
  <div class="row" id="green-bg">
    <div class="col-md-3 text-center">
      <br>
      <p><%=(image_tag ('/assets/artcaring-list-artworks-small.png'))%></p>
    </div>
    <div class="col-md-6">
      <br>
      <h2 class="copy-heading text-center">List a new Artwork!</h2>

      <h4 class="text-center">Provide the details here, and remember to include great photographs of your work.</h4>

    </div>
  </div>

  <div class="row">
      
        <%= render partial: 'form', locals: { patient_campaign: @patient_campaign, artworks: @artworks } %>
      
  </div>

</div>




    