index params category or params price?
was:
<h3 class="copy-heading text-center orange">
      <%= params[:category] ? params[:category].capitalize : 'All Art' %> Index
</h3>



<h3 class="copy-heading text-center orange">
  <%= params[:category] ? params[:category].capitalize : params[:price] ? params[:min_price] "-" params[:max_price] : 'All Art' %> Index
</h3>


#from _form:
<%= f.input :category, :label => "Art Category", :collection => ['painting', 'sculpture', 'jewelry', 'photography', 'fiber/wearables', 'mixed media (2d or 3d)', 'wood', 'metal', 'glass', 'ceramics',  'drawing', 'printmaking']%>