<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3 font16" id="about">
    <h2 class="copy-heading text-center">About Us</h2>

      <h3 class="copy-heading">So, how did this all begin?</h4>
      <%= (image_tag ('/assets/scott-and-lara.jpg')) %><p>ArtCaring is the project of Montana-based artist Scott Hale. Being a bit of a tech nerd on the side, he decided he wanted to learn web development and began an online apprenticeship learning Ruby on Rails in the Fall of 2013.</p>

      <p>A few months earlier in June, Scott and his wife Lara learned that their 7-year-old nephew Garrett had been diagnosed with Osteosarcoma - an aggressive bone cancer. A tumor was found in Garrett's wrist. Chemotherapy and surgeries were scheduled immediately.</p>

      <p>Ever since Garrett had been diagnosed, Scott had been thinking about a way he could help his sister and her husband with the inevitable bills that would come with Garrett's care. In his November art newsletter, he announced that he was pledging 70% of his sales that month to Garrett's care, and a substantial amount was raised from this effort.</p>

      <p>In short, ArtCaring.com became Scott's capstone project for his online web development apprenticeship. With the success of raising funds for Garrett on a small scale, Scott felt it was important to build a site where other artists and art collectors could easily help others in a health crisis.</p>

      <p>ArtCaring launched in the Spring of 2014. ArtCaring is run by Scott (when he's not painting) and his wife Lara: the most organized and pleasant managerial/bookkeeping talent on the planet!</p>
      <br>
  </div>
</div>
