<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">
<h2 class="copy-heading text-center">About Us</h2><br>

<h4>So, how did this all begin?</h4>
<p>ArtCaring is the 'baby' of Montana-based landscape painter Scott Hale. Scott has been painting full-time since 2003. Over the years of marketing his work and learning some web design in the process, he developed a fascination with web technology. In 2013, because he kept having ideas for improving opportunities for artists to market online, he decided he wanted to learn how to code. He began an online developer apprenticeship program in the fall, learning the Ruby language and Ruby on Rails.</p>

<p>A few months earlier in June of 2013, Scott learned that his (then) 7-year-old nephew Garrett had been diagnosed with Osteosarcoma - an aggressive bone cancer. A tumor was found in Garrett's wrist, and almost immediately, surgeries were scheduled and chemotherapy began.</p>

<p>As part of Scott's apprenticeship program, he needed to complete a capstone project - a web application of his own. About the time he was starting that portion of his apprenticeship, he sent out his 'almost monthly' art newsletter with the story about Garrett. In the newsletter, he announced that he was pledging 70% of any sale that month, to help Garrett's parents with mounting medical bills. The fundraising effort was a success, with over $2,200 raised in Garrett's behalf.</p>

<p>Ever since Garrett had been diagnosed, Scott had been thinking about a way he could help his sister and her husband with the inevitable bills that would come. In short, ArtCaring - Scott's capstone project, became an extension of what he was able to do with his newsletter. With the success of raising funds for Garrett on a small scale, Scott felt it was important to give other artist's an easy way to help people they knew in a health crisis.</p>

<p>The beta version of ArtCaring launched in the Spring of 2014. Today, ArtCaring is run by Scott (when he's not painting) and his wife Lara: the most organized and thorough managerial/bookkeeping talent on the planet!</p>
</div>
</div>