<div class="container-fluid">
 
<h2 class="copy-heading">Artists...join us! Here's how it works:</h2>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <p><%=(image_tag ('/assets/easel-small.png'))%></p>
  </div>

  <div class="col-md-4">
    <p>ArtCaring is an extraordinary online art gallery. Here, artists list and sell their artwork to benefit a family member, a friend, a neighbor - someone they know who's experiencing a difficult health event. Artists do this by setting up a <strong>"Patient Campaign"</strong>, where they tell the story of the individual that they want to help (their "Patient").</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p>Artists then add <strong>artworks</strong> to their Campaign where anyone can buy them (securely, via <a href=https://stripe.com/ target="_blank">Stripe</a>). Once an artwork has sold and received by the buyer, proceeds from the sale can be released. The artist has the option to keep a portion, up to 30%, of the sale proceeds (plus shipping/handling costs). The remainder of the sale, less fees, is disbursed to the Patient.
    </p>
  </div>

  <div class="col-md-2">
    <p><%=(image_tag ('/assets/arthanger-small.png'))%></p>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <p><%=(image_tag ('/assets/easel-small.png'))%></p>
  </div>
  <div class="col-md-4">
    <p>New Patient Campaigns are verified and approved based on the information the artist provides for the Campaign. ArtCaring checks the information provided in the Patient Campaign to confirm the authenticity of the Patient's situation.</p>
  </div>
</div>




<h2 class="copy-heading">Say something catchy here, too!</h2>

</div>