<div class="container-fluid">
  <h2 class="copy-heading text-center">FAQ</h2>
  <div class="col-md-4 col-md-offset-1">
 
    <h3 class="copy-heading text-center orange">For Art Collectors</h3>

    <h4>1. What type of file formats should I use for uploading images?</h4>
      <p class="indent">.jpg/.jpeg files are acceptable. It's best to optimize your images to be under 800 pixels wide at 72ppi. They will load faster this way!</p>
  



  </div>

  <div class="col-md-4 col-md-offset-2">

    <h3 class="copy-heading text-center orange">For Artists</h3>

    <h4>1. What type of file formats should I use for uploading images?</h4>
      <p class="indent">.jpg/.jpeg files are acceptable. It's best to optimize your images to be under 800 pixels wide at 72ppi. They will load faster this way!</p>
  </div>
</div>