<div class="container-fluid">
  <h2 class="copy-heading text-center">FAQ</h2>
  <div class="col-md-4 col-md-offset-1">
 
    <h3 class="copy-heading text-center orange">For Art Collectors</h3>

    <h4>1. Is buying art on ArtCaring secure?</h4>
      <p class="indent">All of our transactions are handled through <a href=https://stripe.com/ target="_blank">Stripe</a>. They offer the most secure way of making a credit card purchase online. We decided to use Stripe because of their built-in, compliant security, and we don't even see your credit card information this way.</p><br>

    <h4>2. What happens after I make a purchase?</h4>
      <p class="indent">The artist will be immediately notified of your purchase and we will stay in touch with them to make sure they can get your Artwork shipped off to you as soon as possible.</p><br>

    <h4>3. What happens if I receive the art and it's not as described, or not what I had hoped?</h4>
      <p class="indent">You have 7 business days to accept the art, once you've received it physically. When you make your purchase, the money is held in escrow until your acceptance of the art. Essentially, you receive the art and have some time to approve of it before finalizing the transaction. We will follow up with you via email once the art has arrived to make sure it arrive safely.</p><br>

    <h4>4. What happens if I receive the art and it's damaged?</h4>
      <p class="indent">Please <%= link_to "Contact Us", new_message_path %> immediately, and the artist as well. The artist is responsible for insuring the art during shipment, and your money is completely refundable. But we need to be notified as soon as possible so that we can take care of insurance claims on the damaged goods in coordination with the artist. We will help you through the process should this happen, so don't worry!</p><br>

    <h4>5. Can I contact the Patient I'm helping?</h4>
      <p class="indent">A great question! If you would like to send well wishes or a note to the Patient you're helping, let us know and we'll forward their mailing address to you. You may also contact the artist you bought from and they will be able to help you.</p><br>

    <h4>6. How did ArtCaring come about?</h4>
      <p class="indent">Please read our story <%= link_to "here", welcome_about_path %>.</p><br>


    
  



  </div>

  <div class="col-md-4 col-md-offset-2">

    <h3 class="copy-heading text-center orange">For Artists</h3>

    <h4>1. What type of file formats should I use for uploading images?</h4>
      <p class="indent">.jpg/.jpeg files are acceptable. It's best to optimize your images to be under 800 pixels wide at 72ppi. They will load faster this way! Large image files are going to take longer to load and images over 1 MB may not load at all.</p><br>

    <h4>2. What's the next step after filling out my Patient Campaign and uploading my art images?</h4>
      <p class="indent">Let the world know what you've done! Send a special announcement to your mailing list telling them about your Campaign. Post it, Tweet it, Pin it. Feature it in your newsletter this month. The people most likely to make your Campaign a success are the ones who already know you and collect your work.</p><br>

    <h4>3. What happens after I receive notice of one of my Artworks selling?</h4>
      <p class="indent">Proceed with the instructions in your notification email, that will tell where and to whom to ship the Artwork. Please contact us via email to let us know that you've shipped the work, and attach the tracking information. It is your responsibility to insure the Artwork during its shipment to the buyer. Please also email the buyer with tracking information and let them know the Artwork is in transit.</p><br>

    <h4>4. When and how will my Patient and I receive funds after a sale of one of my Artworks?</h4>
      <p class="indent">Once your Artwork has been received by the buyer, they have 7 business days to approve of the work and make a final decision. Once that decision is made to keep the Artwork, ArtCaring will make the appropriate distributions to you and your Patient through <a href=https://stripe.com/ target="_blank">Stripe</a>, within 5 business days. ArtCaring follows up with each buyer to complete their purchase.</p><br>

    <h4>5. What happens if the buyer doesn't approve of the Artwork?</h4>
      <p class="indent">If the buyer decides not to keep the Artwork, we ask them to package it up and send it back in the original packaging to the Artist. We will also ask them for tracking information on the return shipment. Buyers are responsible for the return shipping and insurance cost. Once you have received the Artwork back, we will that with you, and refund the buyer's payment.</p><br>

    <h4>6. Why can't distributions be made to my Patient and I prior to shipping the sold Artwork?</h4>
      <p class="indent">We realize this is not the typical scenario in which you send your Artwork off to a buyer. However, ArtCaring intends to build a community of complete trust, and we feel this is the best way to encourage art collectors to participate in ArtCaring's mission. We give them every reason to go ahead and make a purchase, and feel confident that the transaction will be both painless and refundable should they change their mind. Always insure your Artwork shipments to allow the best possible outcome.</p><br>

    <h4>7. How are damaged shipments handled?</h4>
      <p class="indent">Please see the answer to Question #4 on the Art Collector side of this FAQ page.</p><br>
  </div>

</div>