<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
 
    <h2 class="copy-heading text-center">FAQ</h2>

    <h4>1. What type of file formats should I use for uploading images?</h4>
      <p class="indent">.jpg/.jpeg files are acceptable. It's best to optimize your images to be under 800 pixels wide at 72ppi. They will load faster this way!</p>
  



  </div>
</div>