<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
 
<h2 class="copy-heading">Fees at ArtCaring</h2>

<h3 class="copy-heading">Here's how we work</h3>

    <div class="font16">
      <p>Our fee is 8.9% of the purchase price of an Artwork.</p>
      <p>There are two parts to this: 
        <ul>
          <li>2.9% transaction fee that covers our credit card transactions through Stripe.</li>
          <li>6% covers our costs to operate the site, employ a staff, create new features, market the site, verify Patient Campaigns, and make sure that everything runs smoothly for the artists, the buyers, and the patients as transactions happen.</li>
        </ul></p>

    <!-- <h5>*The great thing is, buyers have the option at checkout to pay the 7.9% fee (on top of the Artwork purchase), so that the Patient can receive up to 100% of the purchase price of the art that they buy!</h5> -->
    </div>





  </div>
</div>