<div class="row">
  <div class="col-md-12">
    ArtCaring is the place where......

  </div>

</div>



<div class="row">

  <div class="col-md-4">

  Picture of Garrett
  </div>

  <div class="col-md-4">
  Paragraph about Garrett's story, buyer, artist, artwork

  </div>

  <div class="col-md-4">
  Picture of Artwork

  </div>

</div>

<div class="row">

  <div class="col-md-2 col-md-offset-2">

  big button 1
  </div>

  <div class="col-md-2">
  big button 2

  </div>

  <div class="col-md-2">
  big button 3

  </div>

  <div class="col-md-2">
  big button 4

  </div>

</div>

<div class="footer footer-default footer-fixed-bottom">
  <div class="col-md-12">
    footer links here
</div>

  