
  <h1>ArtCares</h1>
  <p>The Art Gallery Benefitting Individuals with a Life-Threatening Illness</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>

  