<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>This is where you buy art that helps heal individuals and families.</h1>

    </div>

  </div>



  <div class="row" id="hero">

    <div class="col-md-4">

    <%= (image_tag ('/assets/garrett.jpg')) %>
    </div>

    <div class="col-md-4">
    <h3>$2,049<small> was raised for Garrett's cancer treatment, here on ArtCaring.</small></h3>
    <p><strong>Garrett from Meridian, Idaho</strong> is recovering from chemotherapy treatment and multiple surgeries for osteosarcoma.</p>
    <p>Emily and John from Utah, found and purchased this painting on ArtCaring.com.</p>
    <p>Funds raised here will help Garrett's parents take care of overwhelming medical bills associated with his treatment.</p>

    </div>

    <div class="col-md-4">
    <%= (image_tag ('/assets/the-fork.jpg')) %>

    </div>

  </div>

  <div class="row">

    <div class="col-md-2 col-md-offset-2">

    big button 1
    </div>

    <div class="col-md-2">
    big button 2

    </div>

    <div class="col-md-2">
    big button 3

    </div>

    <div class="col-md-2">
    big button 4

    </div>

  </div>

  <div class="footer footer-default footer-fixed-bottom">
    <div class="col-md-12">
      footer links here
  </div>
</div>

    