 <!--  <% if current_user && current_user.patient_campaign?=true %>
      <p>Looks like you're signed-up and signed-in! <%= link_to "
      Start your Patient Campaign here", new_patient_campaign_path %>.</p>
    <% end %> -->

    above is for artists-join -us page... 3.