 <!--  <% if current_user && current_user.campaign?=true %>
      <p>Looks like you're signed-up and signed-in! <%= link_to "
      Start your Campaign here", new_campaign_path %>.</p>
    <% end %> -->

    above is for artists-join -us page... 3.



    <% else %>
        <h5 class="greyed">Your Current Artworks:</h5>
        <p class="greyed">(You may not list Artworks until you've started a Campaign.)</p>
