<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
 
<h2 class="copy-heading text-center">Terms of Use</h2>

<H4>1. ACCEPTANCE OF TERMS OF USE</h4>
<p>Thank you for visiting ArtCaring ("ArtCaring.com", "we", "us, "our"). ArtCaring requires that all visitors (known as “Users”, "users", or "Artist Users") to its site (“the Site”) agree to the terms and conditions set forth in this User Agreement. You should carefully review the following terms and conditions. Your use of the Site constitutes your agreement with the Conditions that follow and we reserve the right to revise these Conditions at any time. When we make changes to these conditions, they will be posted here. You agree to check this section periodically to be aware of any changes. Your continued use of the Site shall be considered your agreement to any modified Conditions. If you do not agree to these Conditions, please do not use the Site.</p>

<h4>2. DEFINITIONS</h4>
<p>For purposes of this Site and these Terms of Use, the following terms are described and defined below. 
  <ul>
    <li><em>"User"</em>: anyone eligible to visit the ArtCaring Site, view its contents, and make purchases of Artworks (described below).
    <li><em>"Artist User"</em>: a living, working Artist who registers with and uses the Site to create a "Patient Campaign" (described below) and list "Artworks" (described below), for sale to the public and other users. </li>
    <li><em>"Patient Campaign"</em>: the vehicle by which registered Artist Users of the Site create and add information to the Site, in which to list and sell their artworks on behalf of their beneficiary (their "Patient"). </li>
    <li><em>"Patient"</em>: an individual, known to the Artist User, who is who is suffering from, being treated for, or trying to recover from, a health condition,  health diagnosis, or physical injury, as described by the Patient's care provider(s).</li>
    <li><em>"Artwork"</em>: an individual piece of physical art created by an Artist User, which is listed and offered for sale by an Artist User.</li>
  </ul>

<h4>3. ABOUT US</h4>
<p>ArtCaring is a for-profit social enterprise located in Bozeman, Montana.</p>

<h4>4. INTELLECTUAL PROPERTY</h4>
<p>Unless otherwise noted, all materials, including, but not limited to, images, illustrations, designs, logos and icons, and written and other materials that appear as part of the Site (outside of materials and images and copy provided by users within their Patient Campaigns), (collectively, the "Contents") are copyrights, trademarks, and/or other intellectual properties owned and controlled or licensed by ArtCaring.</p>

<h4>5. ELIGIBILITY TO USE THE SITE</h4>
<p>By using the Site, you represent and warrant that (1) all information you submit is truthful, current, complete and accurate; (2) your use of the Site does not violate any applicable law or regulation; and (3) you are at least 18 years of age or have received parent/legal guardian consent and supervision when using the Site. ArtCaring may, at its sole and absolute discretion and at any time, terminate your privilege to use this Site for violation of eligibility or for any other reason.</p>

<h4>6. SERVICES PROVIDED BY ARTCARING</h4>

<p>As a user of the Site, you authorize ArtCaring to provide the following services (“the Service”) on your behalf. ArtCaring will (1) accept and process online purchases made by individuals or entities through the Service; (2) hold the funds received through online purchases in an escrow account; (3) remit funds, as applicable by law, to the designated Patient beneficiary/beneficiaries and as applicable - the Artist User, via Paypal or Stripe, less a service fee of 6% + 2.9% for credit card processing/banking fees (4) review Patient Campaigns created by our users for compliance with the ArtCaring Terms of Use; (5) provide receipts of transactions to Artist Users, Patients, and users involved in a transaction on our site. (6) As a user, Artist User, or Patient beneficiary of the site, you understand and accept that all fees charged are subject to change at any time at the sole and absolute discretion of ArtCaring.</p>

<p>All funds received by ArtCaring from a User’s Patient Campaign will not be available for distribution to Patients and Artist Users until 10 business days after the completion of the "transaction" ("transaction" being the buyer's receipt of their physical art purchase arriving by mail, in satisfactory physical condition.)</p>

<p>Following the completion of the transaction and the subsequent processing period described above, ArtCaring will distribute the appropriate payments to the beneficiary/beneficiaries as described above.</p>

<p>ArtCaring reserves the right to change the basis for determining any payments, and to change payment distribution methods. In addition, from time to time the provided services may change, without prior notice.</p>

<h4>7. PATIENT CAMPAIGNS</h4>
<p>Artist Users of the site creating Patient Campaigns are responsible for accurately describing their Patient Campaigns and providing truthful information about their Patient. While ArtCaring strives to authenticate information provided in Patient Campaigns, it is the Artist User who is responsible for providing accurate information describing actual events and facts regarding their Patient. ArtCaring will not tolerate false or misleading information if it can be discovered, and willfully and knowingly providing such information will result in the immediate termination of the Artist User's privilege to use the Site, create Patient Campaigns and list Artworks, upon such discover.</p>

<p>Artist Users are responsible for notifying their Patients of the Patient Campaigns the Artist User has set up in their behalf. Artist Users should collect information needed to set up a Patient Campaign from their Patient or, in the case of a Patient under 18 years of age, their Patient's legal guardian. Additionally, Artist Users are responsible for receiving permission, from the Patient or the Patient's legal guardian, to conduct a Patient Campaign on their Patient's behalf.</p>

<p>Artist Users setting up Patient Campaigns are solely responsible for providing accurate information about their Artworks. Users should take professional care to represent the Artworks they are listing on ArtCaring are accurately represented, in both words and photographs that represent the artwork. Users should also take special care to make sure that both artwork prices and shipping prices for individual artworks listed are accurate and that shipping prices listed will fairly cover their costs to handle/ship and insure the Artwork while in transit to the buyer.</p>

<h4>8. ARTWORKS</h4>
<p>Artist Users are not eligible to sell Artworks not created and wholly owned by themselves. Artist Users represent that they are the sole legal owners of the Artworks they list and sell on the Site. Artist Users represent that they are the actual party creating any Artwork they list on the Site and that said Artwork is a completely original, one of a kind work they created.</p>

<p>Artworks not eligible for listing on ArtCaring include offensive, pornographic, inciteful, hateful, or otherwise inappropriate images, forms, creations or representations; as deemed solely as such at ArtCaring's own discretion. Such Artworks will be removed from Artist User's Patient Campaigns. Artist User will be notified of the removal and will receive a warning not to list similar Artworks in the future. ArtCaring reserves the right to terminate and delete both Patient Campaigns and Artwork listings based on it's sole discretion.

<H4>9. MORE TO COME!...</h4>





 </div>
</div>