<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">

<h2 class="copy-heading text-center">Terms of Use</h2>

<H4>1. ACCEPTANCE OF TERMS OF USE</h4>
<p>Thank you for visiting ArtCaring ("ArtCaring.com", "we", "us, "our"). ArtCaring requires that all visitors (known as “Users”, "users", or "Artist Users") to its site (“the Site”) agree to the terms of use defined in this User Agreement. You should review these terms of use carefully. Your use of the Site constitutes your agreement with the terms of use that follow and we reserve the right to revise these terms of use at any time. When we make changes to these terms of use, they will be posted here. You agree to check this section periodically to be aware of any changes. Your continued use of the Site shall be considered your agreement to any modified terms of use. If you do not agree to these terms of use, do not use the Site.</p>

<h4>2. DEFINITIONS</h4>
<p>For purposes of this Site and these Terms of Use, the following definitions and terms are described and defined below.
  <ul>
    <li><em>"User"</em>: anyone eligible to visit the ArtCaring Site, view its contents, and make purchases of Artworks (described below).
    <li><em>"Artist User"</em>: a living, working Artist who registers with and uses the Site to create a "Campaign" (described below) and list "Artworks" (described below), for sale to the public and other users. </li>
    <li><em>"Campaign"</em>: the vehicle by which registered Artist Users of the Site create and add information to the Site, in which to list and sell their artworks on behalf of their beneficiary (their "Patient"). </li>
    <li><em>"Patient"</em>: an individual, known to the Artist User, who is who is suffering from, being treated for, or trying to recover from: a health condition, a health diagnosis, or major physical injury.</li>
    <li><em>"Artwork"</em>: an individual piece of physical art created by an Artist User, which is listed and offered for sale by an Artist User.</li>
  </ul>

<h4>3. ABOUT US</h4>
<p>ArtCaring is a for-profit social enterprise. We are based in Bozeman, Montana, USA.</p>

<h4>4. INTELLECTUAL PROPERTY</h4>
<p>Unless otherwise noted, all materials, including, but not limited to, images, illustrations, designs, logos and icons, and written and other materials that appear as part of the Site (outside of materials and images and copy provided by users within their Campaigns), (collectively, the "Contents") are copyrights, trademarks, and/or other intellectual properties owned and controlled or licensed by ArtCaring.</p>

<h4>5. ELIGIBILITY TO USE THE SITE</h4>
<p>ArtCaring services are, at this time, only available to citizens of the United States of America. While anyone may happen upon or visit the Site, only citizens of the United States may currently use the Site's services</p>.
<p>By using the Site, you represent and warrant that any and all information you submit is truthful, accurate, current and complete. You also warrant that your use of the Site does not violate any applicable regulations or laws; and represent that you are at least 18 years old or have received parent/legal guardian consent and supervision when using the Site. You represent that you are a citizen of the United States of America if you plan on using the services provided by the Site. ArtCaring may at its sole discretion and at any time, terminate your privilege to use this Site for violation of eligibility or for any other reason.</p>

<h4>6. SERVICES PROVIDED BY ARTCARING</h4>

<p>As a user of the Site, you authorize ArtCaring to provide the following services (“the Service”) on your behalf. ArtCaring will (1) accept and process online purchases made by individuals or other legal entities through the ArtCaring Site; (2) hold the funds received in online purchases in escrow until Artwork transactions have been completed; (3) remit funds, as applicable by law, to the designated Patient beneficiary/beneficiaries and as applicable - the Artist User, via Stripe (stripe.com), less a service fee of 6% + 2.9% for credit card processing/banking fees (4) review Campaigns created by our users for compliance with the ArtCaring Terms of Use; (5) provide receipts of transactions to Artist Users, Patients, and users involved in a transaction on our site. (6) As a user, Artist User, or Patient beneficiary involved with the Site, you agree and accept that all fees charged are subject to change at any time at the sole discretion of ArtCaring. We also reserve the right to change, from time to time, the services we provide, without any prior notice.</p>

<p>All funds received by ArtCaring from a User’s Campaign will not be available for distribution to Patients and Artist Users until 5 business days after the completion of the "transaction. ("transaction" being defined as the buyer's receipt of their physical Artwork purchase arriving by mail in satisfactory physical condition AND acceptance of said Artwork within 7 business days of its arrival.)</p>

<p>Upon completion of the transaction and the processing period described above, ArtCaring will distribute the appropriate payments to the Patient beneficiary/beneficiaries and Artist User (as applicable) as described above.</p>

<p>ArtCaring reserves the right to modify the basis for determining payment distributions, and to change payment distribution methods.</p>

<h4>7. PATIENT CAMPAIGNS</h4>
<p>Artist Users of the site creating Campaigns are responsible for accurately describing their Campaigns and providing truthful information about their Patient. While ArtCaring strives to authenticate information provided in Campaigns, it is the Artist User who is responsible for providing accurate information describing actual events and facts regarding their Patient. ArtCaring will not tolerate false or misleading information if it can be discovered, and willfully and knowingly providing such information will result in the immediate termination of the Artist User's privilege to use the Site, create Campaigns and list Artworks, upon such discover.</p>

<p>Artist Users are responsible for notifying their Patients of the Campaigns the Artist User has set up in their behalf. Artist Users should collect information needed to set up a Campaign from their Patient or, in the case of a Patient under 18 years of age, their Patient's legal guardian. Additionally, Artist Users are responsible for receiving permission, from the Patient or the Patient's legal guardian, to conduct a Campaign on their Patient's behalf.</p>

<p>Artist Users setting up Campaigns are solely responsible for providing accurate information about their Artworks. Users should take professional care to represent the Artworks they are listing on ArtCaring are accurately represented, in both words and photographs that represent the artwork. Users should also take special care to make sure that both artwork prices and shipping prices for individual artworks listed are accurate and that shipping prices listed will fairly cover their costs to handle/ship and insure the Artwork while in transit to the buyer.</p>

<h4>8. ARTWORKS</h4>
<p>Artist Users are not eligible to sell Artworks not created and wholly owned by them. Artist Users represent that they are the sole legal owners of the Artworks they list and sell on the Site. Artist Users represent that they are the actual party creating any Artwork they list on the Site and that said Artwork is a completely original, one of a kind work they created.</p>

<p>Artworks not eligible for listing on ArtCaring include offensive, pornographic, inciteful, hateful, or otherwise inappropriate images, forms, creations or representations; as deemed solely as such at ArtCaring's own discretion. Such Artworks will be removed from Artist User's Campaigns. Artist User will be notified of the removal and will receive a warning not to list similar Artworks in the future. Violation of this clause may result in immediate termination of Artist User's account, Campaigns and Artwork listings. ArtCaring reserves the right to terminate and delete both Campaigns and Artwork listings based on its sole discretion.

<H4>9. LIMITATIONS</h4>
<p>In no event shall ArtCaring or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the Site, even if ArtCaring or a ArtCaring authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you. ArtCaring is not responsible for losses or damages a user may incur, as a result of termination of the user's account.<p>

<h4>10. LINKS</h4>
<p>ArtCaring has not reviewed all of the sites linked to the ArtCaring Site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by ArtCaring of the site. Use of any such linked web site is at the user's own risk.</p>

<h4>11. SITE TERMS OF USE MODIFICATIONS</h4>
<p>ArtCaring may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>

<h4>12. GOVERNING LAW</h4>
<p>Any claim relating to ArtCaring's web site shall be governed by the laws of the State of Montana without regard to its conflict of law provisions.</p>

<h4>13. PRIVACY POLICY</h4>
<p>
  Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
</p>

<ul>
  <li>
    Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
  </li>
  <li>
    We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.
  </li>
  <li>
    We will only retain personal information as long as necessary for the fulfillment of those purposes.
  </li>
  <li>
    We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
  </li>
  <li>
    Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
  </li>
  <li>
    We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
  </li>
  <li>
    We will make readily available to customers information about our policies and practices relating to the management of personal information.
  </li>
</ul>

<p>
  We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.
</p>

<h4>14. ADDITIONAL USER PROVISIONS</h4>
<p>ArtCaring may send users email notifications from time to time to inform users of important information or changes to our Terms of Use. Users may opt out of receiving these emails but users understand that they will are still responsible for agreeing with and complying with said information.</p>

<p>Users also authorize ArtCaring to send newsletters, email, and ArtCaring news and notifications to users via user account email addresses. Users may opt out of receiving these emails, however users are responsible for information sent solely to them via email from ArtCaring, when it concerns their user account, Campaign, Artworks, or transactions resulting from user's account.</p>

<p>Users are solely responsible for maintaining confidentiality in regards to their user accounts and passwords. Users agree to not disclose their ArtCaring login or password information to anyone else. Users agree to take all necessary precautions to protect their private information and all information within related to their user account, such as signing off from their user account at the end of their session on ArtCaring. Users are prohibited from having more than one user account on ArtCaring. Using aliases or any other method to set up more than one account on ArtCaring is prohibited. Users agree to not using the account of any other user on ArtCaring.</p>

<h4>15. ARTIST USER REPRESENTATIONS</H4>
<p>By setting up an Artist User account on ArtCaring, Artist Users ("user, users") represent the following:

  <ul>
  <li>
    User is a U.S. Citizen and at least 18 years of age.
  </li>
  <li>
    All information user provides in setting up their account, Campaign and Artworks is accurate, truthful and current. User also agrees to update all information associated with their ArtCaring account in order to maintain its accuracy.
  </li>
  <li>
    Users is participating on ArtCaring primarily in order to raise money for a cause that is legal under all applicable laws, including federal, state and local regulations
  </li>
  <li>
    Users are willing to provide additional or supplementary information, if requested by ArtCaring, in order to verify the accuracy of any statements, especially in regard to Campaign or Artwork narratives provided by the user. Such supplementary information may also be required in order for ArtCaring to continue to provide the service to the user.
  </li>

</ul>

<h4>16. ARTWORK BUYER REPRESENTATIONS</h4>
<p>By using the ArtCaring site and by shopping for and making purchases of Artworks through the ArtCaring Site, you represent that:</p>
  <ul>
  <li>
    You are U.S. Citizen, and at least 18 years of age.
  </li>
  <li>
    All information you provide in making purchases on ArtCaring is accurate, truthful and current. You represent that you are making a legal purchase using your own funds or funds you are legally authorized to use on behalf of a third party.
  </li>
  <li>
    You agree to pay return shipping on any Artwork you purchase, should you decide not to keep the artwork and finish the purchase transaction. Furthermore, should you decide to return the Artwork for a refund, you agree to purchase 'declared value' insurance provided by your shipper, on the purchase price of the Artwork. You also agree to
  </li>
  <li>
    You agree to notify both ArtCaring and the selling Artist of any damages to the Artwork you purchase, upon discovery of said damage when receiving and unpacking the art. You also agree to be present to receive the Artwork when it arrives at the shipping address you provide, or, authorize a third party to receive the Artwork for you, or, if the Artwork is being shipped to another party, that you make that party aware of the shipment being sent to their address, and that you also make that party aware of the terms of use set forth herein, with regard to limits on refund availability and the time frame in which Artworks may be returned.
  </li>

  <li>Upon returning an Artwork to the Artist for a refund, you agree to use the original packaging, crating, padding materials in which the Artwork was sent to you, OR you agree to use a professional crating or shipping firm to repack the Artwork and prepare it for shipment at your own cost.</li>

  <li>You agree to decide to keep or return the Artwork within 7 days of the Artwork arrival date. Refunds will not be available after the Artwork has been in your possession for 7 days.</li>

</ul>

<h4>17. COMMUNICATIONS</h4>
<p>Under the Terms of Use, all Users of the ArtCaring site agree to receive communications from ArtCaring electronically. ArtCaring communicates via email and by providing written information, news, notices and disclosures on the ArtCaring site. Users agree that these methods of electronic communication satisfy any legal requirements that require use to put these communications 'in writing'.</p>

<h4>18. PROCESSING OF FEES, FUNDS AND DISBURSEMENTS</h4>
<p>Users agree to the terms set forth below:</p>
<ul>
  <li>
    ArtCaring charges a total fee of 8.9% on all Artwork sales and transactions that are made through the ArtCaring site.
  </li>
  <li>
    ArtCaring will disburse funds to the applicable parties meant to receive them according to the schedule set forth in these Terms of Use. Specifically, funds will be disbursed 5 days after the completion of a transaction (as described in section 6 of these Terms of Use).
  </li>
  <li>
    Artwork Users and their beneficiary 'Patients' are solely responsible for any and all applicable federal, state or local taxes that money disbursements from ArtCaring may be subject to. Users and beneficiary 'Patients' agree to indemnify and hold ArtCaring harmless from any liability for or assessment of any penalties or claims with regard to these money disbursements, by any legal taxing authorities.
  </li>


</ul>

<br><br>
 </div>
</div>
