<!DOCTYPE html>
<html>
  <head>
    
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    
      <%= @message.content %>
     

     <p>Will this static text be included?</p>
    

  </body>
</html>