@import "bootstrap";

.error {
  color: red;
}

@media (min-width: 200px) {  }

body {
  padding-top: 101px;
}

.nav {
  font-family: "helvetica";
}

.collapse {
  padding-top: 50px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.btn-group-xs {
  align: right;
}

.users {
  background-color: #a7a7a7;

}

.users .pull-right {
  color: #b5e070;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
     
}

