@import "bootstrap";

.container {
  padding-left: 15px;

}

.container .row .summary {
  padding-left: 15px;
}

.h1 {
  color: #69abd3;
  text-align: center;
}

#hero {
  background-color:red;
}

body {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }

