.container {
  padding-left: 5px;

}

.container .row .summary {
  padding-left: 15px;
}

#headline {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: #c96c21;
  padding-top: 15px;
  padding-bottom: 15px;
}


#hero {
  background-color: #d0d0d0;
  padding-top: 40px;
  padding-bottom: 40px;
}

#hero #summary-story {
  padding-left:30px;
  padding-right:10px;
}

#hero #summary-story h3 {
  font-family: 'Fauna One', serif;
}

#big-buttons {
  background-color: #515151;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2.copy-heading, h4.copy-heading {
  font-family: 'Nunito', sans-serif;
}



div .col-md-12 {
  background-color: #a7a7a7;
}

div.os-font {
  font-size: 18px;
}

#dim_unavailable h5.greyed, p.greyed {
  color: #c4c4c4;
}

.col-md-10 .pull-right {
  margin-top: 3px;
  margin-bottom: 0px;
}





