.container {
  padding-left: 5px;

}

.container .row .summary {
  padding-left: 15px;
}

#headline {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background-color: #c96c21;
}



#hero {
  background-color: #d0d0d0;
  padding-top: 40px;
  padding-bottom: 40px;
}

#hero #summary-story {
  padding-left:30px;
  padding-right:10px;
  
}

#big-buttons {
  background-color: #515151;
  padding-top: 30px;
  padding-bottom: 30px;
}

div .col-md-12 {
  background-color: #a7a7a7;
}

