<!-- partial used for search index -->
<div class="container-fluid">
  
  <div class="row search-row">
      <span class="search-margin">"<%= link_to image_tag(patient_campaign.patient_image_1.micro.url), patient_campaign  %>",</span>
      <span class="search-margin"><%= link_to patient_campaign.full_name, patient_campaign %>,</span>
      <span class="search-margin">Situation: <%= link_to patient_campaign.patient_diagnosis, patient_campaign %></span>
      <span class="search-margin">More: <%= link_to truncate((patient_campaign.patient_story), length: 70), patient_campaign %></span>
      
      
        
  </div>
</div



  