<div class="container-fluid">
  <div class="row" id="green-bg">

    <h2 class="copy-heading text-center" id="green-bg">Patient Campaigns</h2>

  </div>

<% @patient_campaigns.each do |patient_campaign| %>
  <h4>
    <%= link_to patient_campaign.campaign_name, patient_campaign %>
  </h4>
  
  <p>Help <%= patient_campaign.patient_first_name %> deal with <%= patient_campaign.patient_diagnosis %>.</p>
<% end %>

  
</div>