<!-- <li><strong>By Price Range</strong></li>
                            <li><%= link_to "$100 - $500", artworks_path(:price, :conditions => [:price >=100 && price: <= 500.49]) %></li> -->

                             <li><%= link_to "$100 - $500", artworks_path(:price => value.between?(100, 500.49)) %></li>

                             <%= link_to "$100 - $500", artworks_path(@artwork.sort_by_price(100, 500.49)) %>